{% extends "page2.html" %}

{% block header %}
<a href="../">Сувенирка</a>
/
Политика конфиденциальности
{% endblock %}

{% block content %}
<div class="row col-12 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
        <center><h1>Политика конфиденциальности</h1></center>
        <center><h2>Общие положения</h2></center>
            <p>Некоторые объекты, размещенные на сайте, являются интеллектуальной собственностью компании «ИП Вахитова». Использование таких объектов установлено действующим законодательством РФ.</p>
            <p>На сайте «ИП Вахитова» имеются ссылки, позволяющие перейти на другие сайты. Компания «ИП Вахитова» не несет ответственности за сведения, публикуемые на этих сайтах и предоставляет ссылки на них только в целях обеспечения удобства для посетителей своего сайта.</p>
        <br/>
        <center><h2>Личные сведения и безопасность</h2></center>
            <p>Компания «ИП Вахитова» гарантирует, что никакая полученная от Вас информация никогда и ни при каких условиях не будет предоставлена третьим лицам, за исключением случаев, предусмотренных действующим законодательством Российской Федерации.</p>
            <p>В определенных обстоятельствах компания «ИП Вахитова» может попросить Вас предоставить личные сведения. Предоставленная информация используется исключительно в служебных целях, а также для предоставления доступа к специальной информации.</p>
            <p>Сведения на данном сайте имеют чисто информативный характер, в них могут быть внесены любые изменения без какого-либо предварительного уведомления.</p>
            <p>Чтобы отказаться от дальнейших коммуникаций с нашей компанией, изменить или удалить свою личную информацию, напишите нам через форму обратной связи</p>
    </div>
</div>
{% endblock %}
